body {
  background-color: #111;
  margin: 0;
  border: 0;
  padding: 0;
  height: 100vh;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#menuDiv {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.menuButton {
  margin: 15px;
  padding: 5px;
  width: 200px;
  background-color: #DDD; 
  border: #999 solid 3px;
  border-radius: 20px;
}

.outer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nodisplay {
  display: none !important;
}

canvas {
  background: #555;
  
}